argcomplete==3.6.2
cfgv==3.4.0
charset-normalizer==3.4.2
colorama==0.4.6
commitizen==4.8.3
decli==0.6.3
Deprecated==1.2.18
distlib==0.4.0
filelock==3.18.0
identify==2.6.12
importlib_metadata==8.7.0
Jinja2==3.1.6
lxml==6.0.0
MarkupSafe==3.0.2
nodeenv==1.9.1
packaging==25.0
pikepdf==9.10.2
pillow==11.3.0
platformdirs==4.3.8
pre_commit==4.2.0
prompt_toolkit==3.0.51
PyPDF2==3.0.1
PyYAML==6.0.2
questionary==2.1.0
termcolor==3.1.0
tomlkit==0.13.3
virtualenv==20.32.0
wcwidth==0.2.13
wrapt==1.17.2
zipp==3.23.0
